@import "@styles/variables.scss";


.Thailand {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__overflow {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: black;
    opacity: 0.3;
  }

  &__description {
    span {
      //color: darken($green, 20);
    }
  }

  &__content {
    padding-bottom: 10%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    color: white;
    width: 100%;
    line-height: 1.4;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      opacity: 0;
      font-size: 18px;
      max-width: 800px;
      text-align: center;

      span {
        font-weight: bold;
      }
    }
  }

  &__button {
    margin-top: $md * 2;
    opacity: 0;
  }

  &__social {
    position: absolute;
    z-index: 4;
    bottom: $md;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    display: flex;

    &Item {
      margin: 0 $base * 2;
      opacity: 0;

      &:hover {
        opacity: 1 !important;

        svg path {
          fill: $green;
        }
      }
    }
  }

  &__black {
    position: absolute;
    z-index: 13;
    background: $black;
    height: 25vh;
    width: 100vw;

    &_top {
      top: 0;
    }

    &_bottom {
      bottom: 0;
    }
  }
}