@import "@styles/variables.scss";

.LandingTitle {
  display: flex;
  font-size: 36px;
  color: $white;
  text-transform: uppercase;
  margin: $spaceL * 2 0 $spaceM;

  span {
    color: $accent;
  }

  @include respond($breakpoint: sm) {
    margin: $spaceL 0 $spaceS;
  }
}