@import "@styles/variables.scss";

.LandingTitle {
  display: flex;
  font-size: 36px;
  color: $white;
  text-transform: uppercase;
  margin: $lg * 2 0 $md;

  span {
    color: $accent;
    white-space: pre;
  }

  @include respond($breakpoint: sm) {
    margin: $lg 0 $base;
    font-size: 24px;
  }
}