@import '@styles/variables.scss';

.Input {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: $fastTransitionHover;
  margin-bottom: $sm;

  &_notEmpty {
    .Input__label {
      color: $accent;
      opacity: 0.7;
    }

    .Input__field {
      opacity: 1;
    }
  }


  &_isValid {
    .Input {
      &__label {
        color: $accent;
      }

      &__field {
        border-bottom: 1px solid $accent;
      }
    }
  }

  &_isNotValid {
    .Input {

      &__field {
        border-bottom: 1px solid $red;
      }
    }
  }

  &:focus-within, &_notEmpty {
    .Input__label {
      top: 0px;
      transform: translateY(0%);
      opacity: 0.7;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &:focus-within, &_notEmpty.Input__lg {
    .Input__label {
      top: -10px;
      transform: translateY(0%);
    }

    @include respond($breakpoint: sm) {
      .Input__label {
        font-size: 10px;
        top: -14px;
        color: $white;
      }
    }
  }

  &__label {
    position: absolute;
    font-size: 16px;
    color: $white;
    font-weight: bold;
    opacity: 0.3;
    margin: 0;
    top: 18px;
    transform: translateY(-50%);
    transition: $fastTransitionHover;
  }


  // sizes
  &__lg {
    margin-bottom: $sm * 3;

    .Input__field {
      height: $sm * 3;
      align-items: flex-end;
    }

    @include respond($breakpoint: sm) {
      .Input__field {
        height: $md;
        font-size: 16px;
      }
      .Input__label {
        font-size: 14px;
        top: $base * 2;
      }
      .Input__required {
        top: -12px;
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
    z-index: 2;
    background: transparent;
    border: none;
    height: $md;
    width: 100%;
    outline: none;
    opacity: 0.7;
    border-radius: 0;
    transition: $fastTransitionHover;
    font: 20px Montserrat;
    color: white;
    border-bottom: 1px solid rgba($white, 0.3);
    padding: 0;
    font-weight: bold;

    &:focus, &:visited {
      border: none;
      color: white;
      outline: none;
      border-bottom: 1px solid $white;
      font-weight: bold;
    }
  }

  &__notification {
    position: absolute;
    bottom: -$sm - 8px;
    font-size: 12px;
    margin: $base 0 0;
    color: rgba($accent, 0.9);
  }

  &__required {
    position: absolute;
    top: -7px;
    left: -$base * 2;
    width: $base;
    height: $base;
    background: rgba($accent, 0.5);
  }

  // DARK MODE
  &_dark {
    color: $black;

    .Input {

      &__label {
        color: $black;
      }

      &__field {
        border-bottom: 1px solid rgba($black, 0.3);
      }
    }
  }
}