@import "@assets/styles/variables.scss";

.Row {
  max-width: $row;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;

  &_column {
    flex-direction: column;
    flex: 1;
  }


  @include respond($breakpoint: md) {
    padding: 0 $md;
  }
}