@import "@styles/variables.scss";

@keyframes Anim1 {
  0% {
    transform: translate(-8px, 8px);
  }
  10% {
    transform: translate(0px, 0px);
  }
  55% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(-4px, 2px);
  }
  100% {
    transform: translate(-8px, 8px);
  }
}

@keyframes Anim2 {
  0% {
    transform: translate(-8px, 8px);
  }
  15% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(0px, 2px);
  }
  100% {
    transform: translate(-8px, 8px);
  }
}

@keyframes Anim3 {
  0% {
    transform: translate(-23px, 20px);
  }
  10% {
    transform: translate(-10px, 10px);
  }
  30% {
    transform: translate(0px, 2px);
  }
  75% {
    transform: translate(-8px, 2px);
  }
  100% {
    transform: translate(-23px, 20px);
  }
}

@keyframes Anim4 {
  0% {
    transform: translate(-10px, 10px);
  }
  15% {
    transform: translate(-5px, 3px);
  }
  30% {
    transform: translate(0px, 2px);
  }
  75% {
    transform: translate(-4px, 2px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

// right animation side

@keyframes Anim20 {
  0% {
    transform: translate(20px, 20px);
  }
  15% {
    transform: translate(0px, 3px);
  }
  30% {
    transform: translate(0px, 2px);
  }
  75% {
    transform: translate(-4px, 2px);
  }
  100% {
    transform: translate(20px, 20px);
  }
}

@keyframes Anim24 {
  0% {
    transform: translate(15px, 10px);
  }
  35% {
    transform: translate(0px, -3px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(3px, 2px);
  }
  100% {
    transform: translate(15px, 10px);
  }
}

@keyframes Budda {
  0% {
    transform: translate(-50%, -33px) scale(1);
  }
  50% {
    transform: translate(-50%, -38px) scale(1);
  }
  100% {
    transform: translate(-50%, -33px) scale(1);
  }

}

.Button {
  position: relative;
  z-index: 3;
  cursor: pointer;
  height: 58px;
  padding: 0 $base;
  width: 270px;
  background: $green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: Montserrat;

  &__wrapper {
    position: relative;
    background: $green;
    border-radius: $base * 7;


    &:hover {
      box-shadow: 0 0 0 3px rgba($green, 0.2);


      .Button__budda {
        animation: 5s Budda ease infinite;
        opacity: 1;
      }

      .Button__flower {
        left: -15px;
        width: 300px;
        top: -23px;
      }

      .Button__svgItem {
        &1 {
          animation: 5s Anim1 ease infinite;
        }

        &2 {
          animation: 5s Anim2 ease-out infinite;
        }

        &3 {
          animation: 5s Anim3 0.5s ease infinite;
        }

        &4 {
          animation: 5s Anim2 linear infinite;
        }

        &5 {
          animation: 5s Anim3 ease-out infinite;
        }

        &6 {
          animation: 5s Anim3 0.15s linear infinite;
        }

        &8 {
          animation: 5s Anim4 0.1s ease-out infinite;
        }

        &10 {
          transform: translate(0, 0);
        }


        // left side
        &20, &22 {
          animation: 5s Anim20 linear infinite;
        }

        &23, &25 {
          animation: 5s Anim20 0.1s ease-out infinite;
        }

        &24, &26 {
          animation: 5s Anim24 ease-out infinite;
        }

        &21 {
          transform: translate(-3px, -3px);
        }
      }
    }
  }


  // SVG


  &__svg {
    position: absolute;
    width: 300px;
    left: -15px;
    top: 0;
  }

  &__flower {
    width: 250px;
    left: 0;
    transition: 0.5s ease;
  }


  &__budda {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-size: 26px;
    opacity: 0;
    transition: 0.5s ease;
  }

  &__svgItem {
    &1, &2, &3, &4, &5, &3 {
      transform: translate(-12px, 12px);
    }

    &8, &4 {
      transform: translate(-12px, 18px);
    }

    &5 {
      transform: translate(-25px, 25px);
    }

    &6 {
      transform: translate(-25px, 20px);
    }

    &10 {
      transform: translate(-10px, 10px);
      transition-duration: 1s;
    }


    // left side

    &20, &21 {
      transform: translate(20px, 20px);
      transition-duration: 1s;
    }

    &22, &25 {
      transform: translate(5px, 10px);
    }

    &23 {
      transform: translate(10px, 10px);
    }

    &24, &26 {
      transform: translate(15px, 10px);
    }
  }
}