@import "@styles/variables.scss";

.Contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 $spaceL;
  width: 100vw;
  color: white;

  &__title {
    margin-bottom: $spaceL;
  }

  &__formTitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: $base * 2;
  }

  &__description {
    margin: 0 0 $spaceS * 3
  }

  &__formRef {
    position: relative;
    left: 100px;
  }

  &__content {
    max-width: $spaceL * 8;
    padding-bottom: $spaceS * 4;
  }

  &__form {
    padding-top: $spaceS;
  }

  &__imageWrapper {
    height: 115vh;
    position: absolute;
    bottom: 0%;
    left: auto;
    right: 250px;
    opacity: 0.4;
    //transform: translateY(-50%);

    img {
      height: 100%;
    }


    @include respond($breakpoint: sm) {
      opacity: 0.1 !important;
    }
  }


  @include respond($breakpoint: md) {
    padding-left: 0;

    &__title {
      margin: $spaceL 0 $base;
    }
    &__formTitle {
      margin: $base 0 $spaceM;
      font-weight: 100;
      font-size: 16px;
    }
    &__description {
      display: none;
    }

    &__content {
      max-width: 100%;
      padding-right: $spaceM;
    }
  }
}