@import "@styles/variables.scss";

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: $spaceL * 2;

  > * {
    color: $white;
  }

  &__description {
    font-weight: 100;
    font-size: 16px;
    line-height: 1.4;
    max-width: $spaceL * 12;
    text-align: center;
  }

  &__content {
    flex: 1;
  }

  &__partnerList {
    display: flex;
  }

  &__partnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__partnerItem {
    margin: 0 $spaceS;

    p {
      margin: 0;
    }
  }

  &__partnerTitle {
    margin-bottom: $spaceM;
    font-weight: 700;
  }


  @include respond($breakpoint: sm) {
    align-items: flex-start;
    padding: 0 $spaceM;

    &__partnerList {
      flex-direction: column;
    }
    &__description {
      text-align: left;
      margin-top: 0;
      font-size: 12px;
    }
    &__partnerTitle {
      margin-bottom: $spaceS;
      font-size: 12px;
    }
    &__partnerItem {
      margin: 0;
      font-size: 12px;
    }
    &__partnerWrapper {
      align-items: flex-start;
    }
  }
}
