@import "@styles/variables.scss";

.About {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: $lg * 2;
  flex: 1;

  > * {
    color: $white;
  }

  &__heading {
    will-change: transform;
  }

  &__description {
    font-weight: 100;
    font-size: 16px;
    line-height: 1.4;
    max-width: $lg * 12;

    span {
      color: $accent;
    }
  }

  &__content {
    flex: 1;
  }


  &__peopleList {
    margin-bottom: $sm;
  }

  &__partnerList, &__peopleList {
    display: flex;
    margin-left: -$sm;
    margin-right: -$sm;
  }

  &__partner {
    will-change: transform;
  }

  &__partnerWrapper {
    display: flex;
    flex-direction: column;
  }

  &__peopleItem {
    margin: 0 $sm;
    font-size: 12px;

    p {
      margin: 0;
    }
  }

  &__partnerItem {
    position: relative;
    z-index: 20;
    margin: 0 $sm;
    font-size: 12px;

    a {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0;
        width: 30%;
        height: 1px;
        background: white;
        transition: $middleTransitionHover;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__carousel {
    display: flex;
    flex-direction: column;
    flex: 1;
    will-change: transform;
  }


  @include respond($breakpoint: sm) {
    align-items: flex-start;
    flex: 1;
    padding-bottom: 0;

    &__carousel {
      flex: 0;
      min-height: 300px;
      margin-bottom: $lg;
    }

    &__partnerList, &__peopleList {
      flex-wrap: wrap;
      margin: 0;
    }

    &__partnerCategory {
      font-size: 12px;
      font-weight: 400;
      margin: $sm 0 $base * 2;
    }

    &__description {
      text-align: left;
      font-size: 12px;
    }
    &__partnerTitle {
      text-transform: uppercase;
      font-size: 12px;
    }
    &__partnerItem, &__peopleItem {
      margin: 0 $sm $base 0;
      font-size: 12px;

      a {
        &:after {
          display: none;
        }
      }
    }
    &__partnerWrapper {
      align-items: flex-start;
    }
  }
}
