@import "@styles/variables.scss";

@keyframes Right {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(-5px)
  }
  100% {
    transform: translateX(0px)
  }
}

@keyframes Left {
  0% {
    transform: translateX(0px) rotate(-180deg)
  }
  50% {
    transform: translateX(-5px) rotate(-180deg)
  }
  100% {
    transform: translateX(0px) rotate(-180deg)
  }
}


.Carousel {
  display: flex;
  max-height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    will-change: transform;
    transition: $slowTransitionHover;
  }

  &__count {
    position: absolute;
    z-index: 2;
    bottom: $md;
    left: $lg;
    font-size: 32px;
    font-weight: bold;
    color: $white;
    opacity: 0;
    transition: $middleTransitionHover;

    &_show {
      opacity: 1;
    }

    span {
      font-weight: normal;
      font-size: 14px;
      margin-left: $base;
    }
  }

  &__arrows {
    opacity: 0;
    transition: $middleTransitionHover;
    transition-delay: 0.5s;

    &_show {
      opacity: 1;
    }

    &Right, &Left {
      position: absolute;
      z-index: 12;
      top: 50%;
      transform: translateY(-50%);
      width: $lg * 4;
      height: 100vh;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: $middleTransitionHover;
      opacity: 0;

      &_show {
        opacity: 0.3;
        cursor: pointer;

        &:hover {
          opacity: 1;
          background: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0));
        }
      }
    }

    &Right {
      right: 0;
      padding-right: $lg;

      svg {
        position: relative;
        left: $base * 2;
      }

      &:hover {
        background: linear-gradient(to left, rgba($black, 0.5), rgba($black, 0));

        svg {
          animation: 3s Right ease-out infinite;
        }
      }
    }

    &Left {
      left: 0;
      justify-content: flex-start;
      padding-left: $lg;

      svg {
        position: relative;
        left: -$base * 2;
        transform: rotate(-180deg);
      }

      &:hover {
        svg {
          animation: 3s Left ease-out infinite;
        }
      }
    }
  }

  &__arrowIcon {
    width: $md * 2;
    height: $md * 2;
  }
}


@keyframes Text {
  0% {
    transform: translateY(-25%)
  }
  50% {
    transform: translateY(calc(-25% - 10px))
  }
  100% {
    transform: translateY(-25%)
  }
}

@keyframes Cloud {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(-150px)
  }
  100% {
    transform: translateX(0)
  }
}


.CarouselItem {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;

  &__imagesWrapper {
    transition: 0.5s;
    height: 100vh;

    &_dark {
      filter: brightness(0.7);
    }
  }

  &__heading {
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
    font-size: 320px;
    color: rgba($white, 0.3);
    font-weight: bold;
    animation: 15s Text ease-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    //filter: brightness(0.6);
  }

  &__description {
    position: absolute;
    z-index: 4;
    text-align: center;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    line-height: 1.3;
    font-size: 20px;
    transition: $middleTransitionHover;

    span {
      font-weight: bold;
    }
  }

  &__absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //filter: brightness(0.5);
    }

    &_front {
      left: 0;
      top: 0;
      transform: none;
      animation: 60s Cloud linear infinite;
    }
  }
}