@import "variables";

body {
  padding: 0;
  margin: 0;
  background: $black;

  @include respond(md) {
    background: black;
  }
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:focus, &:visited {
    color: inherit;
  }
}

svg {
  width: 100%;
  height: 100%;
}