@import "variables";

body {
  padding: 0;
  margin: 0;
  background: $black;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Montserrat, sans-serif;
  font-weight: 100;
}

ul {
  list-style: none;
  margin: 0
}

img {
  pointer-events: none
}

a {
  text-decoration: none;

  &:focus, &:visited {
    color: inherit;
  }
}