@import "@assets/styles/variables.scss";

.Navigation {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;


  &__logotype {
    position: fixed;
    z-index: 10;
    display: block;
    height: 20px;
    width: 100px;
    top: $spaceS * 2;
    left: $spaceM;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    cursor: pointer;
    opacity: 0;
    margin: 0 0 0 $spaceS * 3;

    &:last-child {
      margin-left: 0;
    }

    p {
      color: $white;
      opacity: 0.7;
      margin: 0;
      cursor: pointer;
      transition: $fastTransitionHover;

      &:hover {
        opacity: 1;
      }
    }

    &_active {
      p {
        opacity: 1;
      }
    }
  }
}