@import "@styles/variables.scss";

.Header {
  max-width: 100vw;
  position: relative;

  &__overflow {
    position: absolute;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $black;
  }
}