@import '@assets/styles/variables.scss';

.Dots {
  position: fixed;
  z-index: 8;
  left: auto;
  right: $spaceS * 2;
  padding: 0 $base;
  border-radius: $spaceS;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__dot {
    width: $base;
    height: $base;
    margin: $base * 2 0;
    border-radius: 50%;
    background: $white;
    box-sizing: content-box;
    transition: $middleTransitionHover;

    &_active {
      box-shadow: 0 0 0 3px rgba($accent, 0.3);
      background: $accent;
    }
  }
}