@import "@assets/styles/variables.scss";

.Menu {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  color: $white;
  display: flex;
  align-items: center;
  padding: 0 $spaceM 0 0;
  margin-top: $spaceS* 2;

  &__socialWrapper {
    position: fixed;
    top: auto;
    left: auto;
    bottom: $spaceS * 2;
    right: $spaceM;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: auto;
  }

  &__socialIcon, &__accountButton {
    display: flex;
    font-size: 36px;
    fill: $white;
    transition: $middleTransitionHover;
    cursor: pointer;
  }

  &__phone {
    color: $white;
    opacity: 0.7;
    transition: $middleTransitionHover;

    &:hover {
      opacity: 1;
    }

    span {
      color: $accent;
      font-weight: 400;
    }
  }

  &__accountButton {
    margin-right: 0;
  }

  &__socialIcon {
    margin-left: $spaceS;
    font-size: 26px;

    svg {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

