@import "@styles/variables.scss";

.Mobile {
  position: relative;
  z-index: 2;
  max-width: 100vw;
  flex: 1;
  $p: &;

  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__imageWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
  }

  &__relative {
    position: relative;
    height: 0;
    width: 0;
  }

  &__imgDefault {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: translateX(0);
    transition: 1s linear;

    > img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      transform: scale(1.1);
    }
  }


  &__prevImg {
    transition: 1s linear;

    #{$p}__imgDefault {
      transform: translateX(-100%)
    }
  }

  &__nextImg {
    transition: 1s linear;

    #{$p}__imgDefault {
      transform: translateX(100%)
    }
  }

  &__titleWrapper {
    position: relative;
    z-index: 2;
    padding: 0 $md;
  }

  &__carousel {
    display: flex;
    transition: $middleTransitionHover;
    min-height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    padding: $md $md * 2 $md $md;
    flex: 1;
  }

  &__list {
    margin: $md 0;
  }

  &__listItem {
    display: flex;

    &_disabled {
      opacity: 0.5;
    }

    p {
      margin: $base 0;
      font-size: 14px;

      span {
        color: $accent;
        font-weight: 600;
      }
    }
  }

  &__priceWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
    line-height: 1;
    margin-left: 8px;
    transition: $middleTransitionHover 0.15s;

    svg path {
      fill: black;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }

  &__buttonContent {
    display: flex;
    align-items: center;
  }

  &__priceCarousel {
    display: flex;
    flex-direction: column;
    height: 24px;
  }

  &__amount {
    opacity: 0;
    transition: $middleTransitionHover;
    transform: scale(0.7);

    &_active {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__price {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
    color: $black;
    font-weight: 600;
    transition: $middleTransitionHover;

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__textWrapper {
    color: $white;
  }

  &__lock {
    margin: 7px 6px 0 $sm;
  }

  &__rhombus {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: 6px;
    width: 6px;
    min-width: 6px;
    margin-top: 10px;
    margin-right: 8px;
    transform: rotate(45deg);
    opacity: 0.5;

    span {
      display: flex;
      height: 2px;
      width: 2px;
      background: $accent;
    }
  }

  &__dollar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;

    svg {
      height: 100%;
    }
  }


  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    background: $accent;
    z-index: 3;
    margin: 0 $md;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;

    @include respond(md) {
      margin-bottom: $lg * 2;
    }
  }

  &__titleAccent {
    color: $accent;
  }

  &__description {
    font-size: 14px;
    margin: 4px 0;
  }

  &__title {
    display: flex;
    font-weight: 800;
    font-size: 16px;
    left: 0 !important;
    margin: 0;

    p {
      font-size: inherit;
    }
  }

  &__textWrapper {
    padding: 0;
  }

  &__listItem {
    font-size: 12px;
  }

}