@import "@assets/styles/variables.scss";

.Navigation {
  display: flex;
  flex-direction: row-reverse;


  &__logotype {
    display: block;
    height: 20px;
    width: 100px;
    margin-top: 3px;
    margin-right: $spaceS * 2;
  }

  &__item {
    cursor: pointer;
    opacity: 0;
    margin: 0 0 0 $spaceS * 3;

    p, a {
      color: $white;
      opacity: 0.7;
      margin: 0;
      transition: $fastTransitionHover;

      &:hover {
        opacity: 1;
      }
    }

    &_active {
      p {
        opacity: 1;
      }
    }
  }
}